.img-banner-admin{
    background-color: aqua;
}

.table_background-products-list {
    background-color: #F4F4F8;
    width: 958px;
    min-height: 554px;
}


.table_container{
    display: flex;
    justify-content: center;  
}

.product-items-list-height{
    max-height: 880px;
    overflow-y: scroll;
}

.products-items-list{ 
    background-color: rgba(253, 190, 80, 0.5);
    height: auto;
    padding-top: 36px;
    width: 880px;
}

@media screen and (max-width: 960px) {
    .table_background{
        margin: 0px 16px;
        padding: 16px 12px !important;
    }

    .product-items-list{
        max-width: 90%;
        margin: 0px 16px 0px 100px;
    }

    .table_container{
        width: 400px !important;
    }
}
