
*{ 
margin: 0;
padding:0;
box-sizing: border-box;
flex: auto;


}
body {
    background-color: hsl(60, 5%, 82%);
   
}
.forml__title{
    text-align: center;
    color:rgb(73, 71, 71)
}
.form-register {
    width: 900px;
    height: 400px;
    background: #FDBF50;
    column-count: 2;
   
    column-width: 40px;
    padding: 30px;
    margin: auto;
    top: 50px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.titulo {
   
    text-align: center;
    margin-top: 10px;
    font-family: 'Helvetica';
    color:rgb(53, 52, 52)

}
.controls{
    column-count: 2;
    width: 75%;
    background: none ;
    padding: 10px;
    margin-bottom: 18.5px;
    color: black;
   
    border: none;
    font-size: 17px;
    outline: 0px;
    border-bottom: 1px solid black;;
}
.botons {
    width: 100px;
    height: 30px;
    background: #FF724C;
    border-radius: 40px;
    color: #F4F4F8;
    border: none;
    margin-left: 350px;
    
}
.Checkbox {
   cursor: pointer;
   width: 1.62em;
   height: 1.62em;
   margin-right: 15px;
   border: none;
   background:none;

}
.Checkbox1 {
    cursor: pointer;
    width: 1.62em;
    height: 1.62em;
    margin-right: 15px;
    border: none;
    background:none;
 
 }


