

.emp-item-list-table-2 {
    background-color: rgba(253, 190, 80, 0.75);
    height: 100px;
    width: 880px;
}

.emp-item-list-2 {
    background-color: rgba(253, 190, 80, 0.5);
    height: 100px;
    width: 880px;
}

.img-edit{
    width: 40px;
    height: 40px;
}

.img-del{
    width: 40px;
    height: 40px;
}

.item-name{
    padding-left: 128px;
}

.item-list-data{
    padding: 18px 0px 0px 0px;
    color: #2A2C41;
}

.item-list-id{
    font-size: 20px;
    padding: 38px 0px 0px 28px !important;
    color: #2A2C41;
}

.edit-button{
        cursor: pointer;
        border: 0px;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #2A2C41;
        font-size: 1.5em;
}

.item-list-data > p {
    font-size: 14px;
    margin: 0px 0px 4px 0px;
    color: #2A2C41;
}

.modal-body-del{
    max-width: none;
    width: max-content !important;
    background-color: transparent !important;
    border: none;
}

.modal-body-edit{
    max-width: none;
    width: max-content !important;
    background-color: transparent !important;
    border: none;
}

@media screen and (max-width: 960px) {
  }
