.item-list-table {
    background-color: #FDBF50;
    height: 100px;
    width: 880px;
}

.item-list-table2 {
    background-color: rgba(253, 190, 80, 0.507);
    height: 100px;
    width: 880px;
}

.item-list-data{
    padding: 18px 0px 0px 0px;
}

.item-list-id{
    font-size: 20px;
    padding: 38px 0px 0px 28px !important;
}

.item-list-data > p {
    font-size: 14px;
    margin: 0px 0px 4px 0px;
}

@media screen and (max-width: 960px) {
    .item-list-table{
        width: 316px;
        height: 80px;
        overflow: hidden;
    }

    .item-list-table2{
        width: 316px;
        height: 80px;
        overflow: hidden;
    }

    .item-list-id{
        font-size: 16px;
        padding: 30px 0px 0px 15px !important;
    }
    
    .item-list-data > p {
        font-size: 12px;
        margin: 0px 0px 4px 0px;
    }
  }