
.img-edit{
    width: 20px;
    height: 20px;
    margin: auto;
}

.img-del{
    width: 20px;
    height: 20px;
    margin: auto;
}

.item-list-id p{
    margin-left: 30%;
}

.buttons{
    width: fit-content !important;
    margin-right: 15%;
    margin-left: auto;
    float: left;
}

.buttonItem{
    margin-left: 00%;
    margin-right: 10%;
}
.buttons button{
    display: inline-block !important;
}

@media screen and (max-width: 960px) {

    .img-edit{
        width: 25px;
        height: 25px;
        margin: auto;
    }
    
    .img-del{
        width: 25px;
        height: 25px;
        margin: auto;
    }
    .buttons{
        width: 30% !important;
        margin-right: 20%;
        margin-left: auto;
        float: left;
    }

    .item-list-id p{
        width: 100% !important;
       
    }

    
}
