.item-list-table {
    background-color: #FDBF50;
    height: 100px;
    width: 880px;
}

.item-list-table2 {
    background-color: rgba(253, 190, 80, 0.507);
    height: 100px;
    width: 880px;
}

.item-list-data{
    padding: 18px 0px 0px 0px;
    color: #2A2C41;
}

.item-list-id{
    font-size: 20px;
    padding: 38px 0px 0px 28px !important;
    color: #2A2C41;
}

.edit-button{
        cursor: pointer;
        border: 0px;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #2A2C41;
        font-size: 1.5em;
}

.item-list-data > p {
    font-size: 14px;
    margin: 0px 0px 4px 0px;
    color: #2A2C41;
}