.product-item{
    background-color: rgba(253, 190, 80, 1); 
    font-size: 16px;
    text-align: center;
    width: 250px !important;
    height: 200px;
    border-radius: 8px;
    padding-bottom: 16px;
}

.product-container{
    padding: 16px 0px;
}

.product-item p{
    margin: 4px auto;
}

.product-image{
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.product-image img{
    max-width: 120px;
}

@media screen and (max-width: 960px){
    .product-item{
       width: 300px;
    }
}
