.table_background {
    background-color: #F4F4F8;
    padding: 29px 22px 09px 29px;
    width: 958px;
    min-height: 554px;
}

.users-table{
    width: 880px;
    height: 395px;
    overflow: scroll;
    overflow-x: hidden;
}

.table-item {
    margin-bottom: 20px;
}

