* { 
    padding:0;
    margin:0;
    font-family: sans-serif;
 }
html, body{
    height:100%;
    margin:0;
    flex-direction: column;
}

body{
    background-color: #fdbe5044 !important;
    justify-content: center;
    align-items: center;
}


.formCont{
    height: 100%;
}
.titleQhatu{
    width: 320px;
    height: 85px;
    margin: 30px;

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
