* { 
    padding:0;
    margin:0;
    font-family: sans-serif;
 }
body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #fdbe5044 !important;
}


.titleQhatu{
    margin-top: 2%;
    width: 100%;
    height: 85px;
}

