*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hdr-seller{
    background-color: #FF724C;
    height: 70px;
}
.h1-seler{
    padding-left: 20px;
    padding-top: 15px;
    color: white;
}
.h2-seller{
    padding-left: 20px;
}

main{
    position: relative;
    background-color: #FDBF50;
}

.btn-seller{
    width: 350px;
    height: 250px;
    display: inline-block;
    margin: 30px !important;
    border-radius: 10px !important;
}

img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .btn-colection{
        margin-left: 3%;
        margin-right: 3%;
    }
}