.input-text{
    border-bottom-style: solid;
    border-bottom-color: #2A2C41 !important;
    border-top-style: hidden !important;
    border-left-style: hidden !important;
    border-right-style: hidden !important;
    background-color: #FDBF50 !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    width: 1px !important;
}
.btn{
    background-color: #FF724C !important;
    border-radius: 30px !important;
    border-style: none !important;
    width: 200 px;
    font-size: 20px !important;
    height: 56px;
}

.boton{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    margin-top: 2%;
    
}

.myinput{
    width: 80px !important;
}

body{
    color: #2A2C41 !important;
}

form{
    text-align: left;
}


.container2{
    width: 850px;
    height: 550px;
    background-color: #FDBF50;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-check-input{
    border-radius: 0% !important;
    background-color: #ffffff !important;
    border-style: hidden !important;
}
.mb-3{
    align-items: center !important;
    margin-left: 5% !important;
    margin-right: auto !important;
    padding: 0 !important;
    align-self: center !important;
}

.form-control{
    margin-top: 0 !important;
}

label{
    margin-bottom: 0 !important;
}

.form-check-label{
    margin-left: 2% !important;
}


.form-check-input:checked {
    background-color: #45E3EC !important;
    border-color: #15818768 !important;
}

.form-check-input{
    margin-left:  -1em !important;
    margin-right: auto !important;
    
}
.user{
    margin-bottom: 4%;
    padding-bottom: 4%;
}
.mycontainer{
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.firstCol{
    width: 50%;
}
.secondCol{
    margin-bottom: 0;
    margin-top: auto;
    width: 50%;
    height: 172px;
}
.order-1{
    margin-bottom: 0 !important;
    margin-top: auto;
    padding-bottom: 0;
}
.checks{
    width: 100%;
}
@media only screen and (max-width: 960px){

    .myinput{
        width: 100% !important;
    }
    form{
        width: 100%;
    }
    .container2{
        padding-top: 10%;
        padding-bottom: 10%;
        width: 95% !important;
        height: 100% !important;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}